<article class="site-page" data-template-page>
  <header class="page-masthead">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
  </header>

  {% if page.content != blank %}
    <div class="page-content rte">
      {{ page.content }}
    </div>
  {% endif %}
</article>

<script>
var _learnq = _learnq || []; 
var page = window.location.href;
_learnq.push(['track', 'View Subscription Page',
{url: 'https://brew-box-coffee.myshopify.com/a/loop_subscriptions/bundle/e057b154181a497689ebca271807abca'}
]);
</script>

<script>
var _learnq = _learnq || []; 
var page = window.location.href;
_learnq.push(['track', 'Viewed Christmas Collection',
{url: 'https://www.brewboxcoffee.ie/collections/christmas-collection'}
]);
</script>

<script>
var _learnq = _learnq || []; 
var page = window.location.href;
_learnq.push(['track', 'Viewed Brew Crew Info Page',
{url: 'https://www.brewboxcoffee.ie/pages/the-brew-crew?_ab=0&key=1697897918449'}
]);
</script>

<script>
var _learnq = _learnq || []; 
var page = window.location.href;
_learnq.push(['track', 'Viewed Coffee Menu Page',
{url: 'https://www.brewboxcoffee.ie/pages/the-coffee-menu'}
]);
</script>







